.red{
    color:red;
}
.grey{
    color: grey;
}
.purple{
    color: blue;
}
.blue{
    color: blueviolet;
}
.orange{
    color: chocolate;
}
.brown{
color: brown;
}
.orange{
   color: orangered;
}
